* { 
    text-align: center;
}

body {
    background-color: lightgreen;
}

.wall {
    width: 50px;
    height: 50px;
    background-image: url('images/wall copy.png');
    display: inline-block;
}
.coin {
    width: 50px;
    height: 50px;
    background-image: url('images/coin copy.png');
    display: inline-block;
}
.ground {
    width: 50px;
    height: 50px;
    background-image: url('images/bg copy.png');
    display: inline-block;
}

.pacman {
    width: 50px;
    height: 50px;
    background-image: url('images/pacman copy.png');
    display: inline-block;
}

div {
    line-height: 0px;
}

.yellow {
    color: yellow;
}

.black-border {
    border: black solid 1px;
}
